// Variables
@import "variables";

body {
    background-color: $dark-blue;
    font-family: degular, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

h1 {
    font-family: degular-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 85vh;

    &__star1 {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
    }

    &__star2 {
        position: absolute;
        z-index: -10;
        left: 35rem;
        top: 21rem;
    }

    &__star3 {
        position: absolute;
        z-index: -10;
        right: 35rem;
        top: 35rem;
    }
    &__frame {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__logo {
        height: 4rem;
        margin-top: 7rem;
        margin-bottom: 5rem;

        img {
            width: 15rem;
        }
    }

    &__message {
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        color: $light-blue;
    }

    &__contact {
        position: relative;
        margin-top: 7rem;

        &-ellipse {
            position: absolute;
            left: -4rem;
            top: 1rem;
        }

        &-background {
            background-color: $dark-orange;
            width: 28rem;
            height: 5rem;
            transform: rotate(-1deg);
        }

        &-link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: $light-orange;
            top: -1.5rem;
            left: 50%;
            width: 25rem;
            height: 5rem;
            font-weight: 500;
            line-height: 1.5rem;
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
            transform: translate(-50%, 0) rotate(-3deg);
        }
    }
}
